In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('Collingwood Stats 2025 AFL season.csv')

In [7]:
data.head(10)

,Unnamed: 0,Disposals,Kicks,Handballs,Inside 50's,tackles,marks,contested possesions,uncontested possessions,turnovers,hitouts,clearances,Result,Score,Goals,Behinds
0,0,352.0,209.0,143.0,55.0,39.0,87.0,139.0,200.0,64.0,47.0,40.0,L,52.0,6.0,16.0
1,1,388.0,223.0,165.0,65.0,69.0,91.0,130.0,247.0,66.0,34.0,36.0,W,136.0,21.0,10.0
2,2,364.0,204.0,160.0,50.0,64.0,77.0,140.0,215.0,57.0,38.0,36.0,W,76.0,10.0,16.0
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,360.0,193.0,167.0,57.0,85.0,68.0,142.0,204.0,63.0,43.0,47.0,W,63.0,8.0,15.0
5,5,363.0,206.0,157.0,55.0,72.0,85.0,144.0,220.0,63.0,26.0,38.0,W,109.0,16.0,13.0
6,6,33.0,195.0,138.0,51.0,33.0,86.0,100.0,219.0,45.0,37.0,36.0,W,105.0,16.0,9.0
7,7,375.0,221.0,154.0,59.0,62.0,95.0,136.0,233.0,76.0,39.0,48.0,W,107.0,16.0,11.0
8,8,352.0,218.0,134.0,53.0,64.0,108.0,117.0,226.0,55.0,51.0,37.0,L,87.0,12.0,15.0
9,9,300.0,190.0,110.0,34.0,66.0,94.0,122.0,170.0,55.0,35.0,30.0,W,97.0,15.0,7.0

In [9]:
#Remove 'Unnamed' column
#Convert W/L into numeric values using one hot encoding

In [11]:
#Remove 'Bye' rounds (NaN rows)
data1=data.drop(index=[3, 14])

In [17]:
data1.groupby(['Result'])[['tackles']].mean()

          tackles
Result
L       65.428571
W       64.312500